head {
    margin: 0% 0% 0% 0%;
}
body {
    margin: 0px 0px 0px 0px;
    background-color: #DDEDF4;
    height: 100%;
}
.nav ul {
    list-style-type: none; 
    font-size: larger;
    background-color: #1181B2;
    font-family: 'Newsreader', serif;
    text-align: center;
    overflow: hidden;
}
.nav li {
    float: left;
    text-align: center;
}
.nav li a {
    display: block;
    color: #000000;
    padding: 30px 50px 30px 50px;
    text-decoration: none;
}
.nav li a:hover {
    color: #DDEDF4;
    background-color: #212221;
}
.nav a.active {
    color: #DDEDF4;
    background-color: #212221;
}

#home-page-header {
    position: absolute;
    margin-top: 2%;
    left: 42%;
    right: 40%;
    z-index: 1;
}
h1 {
    text-align: center;
}
h1 span {
    font-size: 30px;
    color: #DDEDF4;
    background-color: #212221;
    padding: 8px;
    width: 200px;
    font-family: 'Newsreader', serif;
}
#welcome-container {
    position: relative;
    text-align: center;
}
#galaxy-background {
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#welcome-content {
    color: #212221;
    font-size: 40px;
    font-family:  'Source Sans Pro', sans-serif;
    background-color: #DDEDF4; 
    padding: 10px;   
    border-color: #212221; 
    margin: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: ;
    border-radius: 25px;
    border-color: #1181B2;
    border-style: solid;
    border-width: 5px;
}
figcaption {
    color: #212221;
    background-color: #DDEDF4; 
    padding: 5px;
    width: 195px;
}